/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 *
 * The `$post-title-selector` variable is replaced by PostCSS. Please see the
 * `postcss.config.js` file for details.
 */
$(post-title-selector) {
	@apply mx-auto mb-6 max-w-content text-3xl font-extrabold text-neutral-900;
}

.page-title{
	@apply mx-auto mb-6 max-w-content text-3xl text-center text-neutral-900 font-serif text-primary font-serif;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */

.entry-title{
	@apply font-sans;
}

.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply mx-auto max-w-content font-serif;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.entry-content.prose{
	@apply mb-12;
}
.entry-content p{
	@apply mb-4;
}
.entry-content.prose:after{
	content: ' ';
	height: 1px;
	@apply block mt-6 mx-auto w-32 bg-gray-200;
}
.entry-content.prose .read-more{
	@apply block text-right no-underline hover:underline uppercase text-sm font-mono;
}

.entry-meta,
.entry-footer{
	@apply mx-auto mt-4 mb-8 text-xs max-w-content font-mono;
}

.entry-meta > *::after,
.entry-footer > *::after{
	content: '—';
	@apply mx-2;
}

.entry-meta > *:last-child::after,
.entry-footer > *:last-child::after{
	content: '';
	@apply mx-0;
}

#main{
  @apply my-24 mx-6;
}

.navigation{
	@apply max-w-xl mx-auto text-center;
}
.navigation.pagination .nav-links > *{
	@apply inline-block py-1 px-3 border border-gray-200 text-gray-400 rounded-lg;
}
.navigation.pagination .nav-links .current{
	@apply bg-primary text-white border-primary;
}

.navigation.post-navigation{
	@apply mt-8 py-4 border-t border-b border-gray-200 text-sm;
}
.navigation.post-navigation .nav-links{
	font-family: 'Roboto Serif', serif;
	@apply flex space-x-4 text-xs text-primary;
}
.navigation.post-navigation .nav-links > div{
	@apply md:w-1/2 text-left;
}
.navigation.post-navigation .nav-links .nav-next{
	@apply md:w-1/2 text-right;
}
.navigation.post-navigation .nav-links .prev-title,
.navigation.post-navigation .nav-links .next-title{
	@apply block text-gray-700 text-sm text-ellipsis overflow-hidden w-full whitespace-nowrap font-sans;
}

#content article.post{
	@apply mx-auto max-w-content;
}
#content article.post figure{
	@apply mb-6 rounded-lg overflow-hidden;
}

#comments{
	@apply mx-auto max-w-content;
}
#comments > h2{
	@apply font-bold text-lg mb-4;
}
#comments ol li{
	@apply bg-gray-100 p-6 rounded-lg;
}
#comments ol li .comment-author.vcard{
	@apply flex space-x-2 items-center;
}
#comments ol li .comment-metadata{
	@apply mx-auto mt-2 mb-4 text-xs text-right max-w-content uppercase font-mono;
}

#comments #respond{
	@apply border rounded-md p-6 mt-6;
}
#comments #respond #reply-title{
	@apply font-bold;
}
#comments #respond .logged-in-as{
	@apply text-sm block;
}
#comments #respond .required-field-message{
	@apply text-sm block mb-4;
}
#comments #respond .comment-form-comment > *{
	@apply block;
}
#comments #respond label{
	@apply uppercase text-xs tracking-wide;
}
#comments #respond .comment-form-cookies-consent label{
	@apply text-xs normal-case;
}
#comments #respond #comment,
#comments #respond #author,
#comments #respond #email,
#comments #respond #url{
	@apply block bg-gray-100 w-full rounded-md my-2 p-2 text-sm;
}
#comments #respond .form-submit{
	@apply text-right py-2;
}
#comments #respond .form-submit input[type=submit]{
	@apply btn btn-primary;
}
