header #site-navigation > ul > .menu-item{
    @apply relative inline-block overflow-hidden;
}
header #site-navigation > ul > .menu-item::before{
    content: ' ';
    @apply absolute bottom-0 -left-8 block h-1 w-8 bg-primary ease-in-out duration-1000;
}
header #site-navigation > ul > .menu-item:hover::before{
    content: ' ';
    @apply absolute bottom-0 left-0 block h-1 w-8 bg-primary;
}

header .menu-item-has-children{
    @apply relative flex items-center;
}
header .menu-item-has-children::after{
    content: '+';
    @apply inline-block rotate-90 ml-2 font-sans font-mono text-primary ease-in-out duration-500;
}
header .menu-item-has-children:hover::after{
    @apply rotate-0;
}


header #site-navigation a{
    @apply py-4;
}
header #site-navigation .current_page_item a{
    @apply text-secondary;
}

#main-header-wrapper.fullfixed{
    @apply fixed w-full bg-transparent;
}

.header-fixed-wrapper{
    @apply fixed top-0 left-0 w-full z-10;
}

body.admin-bar .header-wrapper{
    top: 32px;
}

.header-fixed-wrapper #masthead{
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);
}

.header-fixed-wrapper #masthead.sticky{
    transform: translateY(0%);
}


header .menu-item-has-children .sub-menu{
    @apply absolute top-full left-0 bg-white drop-shadow-lg z-50 p-4 w-48 hidden;
}

header .menu-item-has-children .sub-menu a{
    @apply inline-block py-2;
}

header .menu-item-has-children:hover .sub-menu{
    @apply inline-block;
}
